[submodule "VBA-JSON"]
	path = VBA-JSON
	url = https://github.com/macmillanpublishers/VBA-JSON.git
[submodule "VBA-Dictionary"]
	path = VBA-Dictionary
	url = https://github.com/macmillanpublishers/VBA-Dictionary.git
